{% extends "base_gen.html" %}

{% block content %}
<div class="jumbotron text-center">
  <h1>Manipal E-Amsler</h1>
  <p>Wekcome to the Doctors Web Portal of Manipal E-Amsler</p> 
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Usage Details</h3>
      <p>A lot of users are using our application</p>
      <p><strong>Patients:</strong> {{ num_patients }}</p>
      <p><strong>Doctors:</strong> {{ num_doctors }}</p>
	</div>
    <div class="col-sm-4">
      <h3>Try us Out</h3>
	  <p> Its really useful. Try it out</p>
      <p>We have a lot of features perfect for general eye care</p>
    </div>
    <div class="col-sm-4">
      <h3>Summary</h3>        
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>

    </div>
  </div>
</div>


{% endblock %}